.header-fundo{
 background-color: #15156e;
 border-radius: 1%;
}

.header-letra .span{
    color: #fff;
}

.header-letra h5{
    color: #fff;
}

.form-placeholder{
    color: #fff;
}

#search-form input::placeholder {
    color: #fff;
}

.header-letra .contato span,
.header-letra .support-box span {
color: white !important;
}


